<section class="home-section" id="home">
    <div class="container home-container">
        <div class="home-wrapper">
        <h1 class="home-title">Inner Fire</h1>
        <p class="home-text">It's got this steady beat to it, things get pretty intense, and you just zone in completely.</p>
        <a class="hero-button" href="#demo">
<img class="hero-btn" src="/img/home/btn.png" alt="Feel the Heat" loading="lazy">
<p class="btn-text">Feel the Heat</p>
        </a>
    </div>
        <picture>
            <source srcset="
            /img/home/slotmachine-desk.png 1x,
            /img/home/slotmachine-desk@2x.png 2x
                     " media="(min-width: 1440px)" />
            <source srcset="
            /img/home/slotmachine-mob.png  1x,
            /img/home/slotmachine-mob@2x.png 2x
                     " media="(max-width: 1439px)" />
            <img class="hero-img" src="/img/home/slotmachine-mob.png" alt="slotmachine" loading="lazy" />
        </picture>
        <div class="disclaimer-wrapper">
            <h2 class="disclaimer-title">DISCLAIMER</h2>
            <p class="disclaimer-text">gopulseup.site IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF SUCCESS PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME
            AS SUCCESS IN REAL LIFE ACTIVITIES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY PLAYING THIS GAME.</p>
        </div>
    </div>
</section>