@font-face {
  font-family: 'Abhaya Libre';
  src: url('../fonts/AbhayaLibre-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
body{
  background: #fff;
  font-family: "Afacad", sans-serif;
font-weight: 400;
font-size: 20px;
line-height: 1.4;
text-align: center;
color: #000;
}
h2{
font-family: 'Abhaya Libre', serif;
font-weight: 800;
font-size: 48px;
text-align: center;
color: #5e1522;
}