.cookie-popup {
    position: fixed;
    bottom: 30px;
    left: 48%;
    transform: translateX(-48%);
    padding: 20px 10px;
background: #b50104;
    border-radius: 20px;
    z-index: 1000;
    width: 100%;
    height: auto;
    display: none;
}

.cookie-class {
font-family: "Afacad", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    color: #fff;
    text-align: left;
}

.cookie-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    width: 281px;
    height: 34px;
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;
}

.btn-accept {
    border-radius: 10px;
    padding: 10px 7px;
    width: 161px;
    height: 44px;
    background: #000;
    box-sizing: border-box;
    border: none;
font-family: "Afacad", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
   
    color: #b50104;

}

.btn-decline {
    border: none;
    padding: 7px 12px 7px 0;
    width: 138px;
    height: 44px;
font-family: "Afacad", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;

    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
    box-sizing: border-box;
    background-color: inherit;
}

@media screen and (min-width: 1439px) {
    .cookie-popup {
        padding: 20px 40px;
        width: 1439px;
        height: auto;
    }

    .popup-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .cookie-class {
        width: 1024px;
        text-align: left;
        font-size: 14px;
        margin-top: 0;
    }

    .cookie-buttons {
        margin-top: 0;
    }
}