.footer{
  background: #b50104;
  border-top: 30px solid #fff;
}
.footer-container{
  position: relative;
  padding-top: 68px;
  padding-bottom: 18px;
}
.footer-img{
position: absolute;
z-index: 2;
top: -20px;
left: 50%;
transform: translateX(-48%);
}
.footer-navigation{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  font-family: 'Abhaya Libre', sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: #fff;
    margin-bottom: 7px;
}
.footer-text{
  font-family: "Afacad", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: right;
    color: #fff;
}
@media only screen and (min-width: 1440px) {
  .footer-container{
    padding: 19px 141px;
  }
  .footer{
    border: none;
  }
  .footer-navigation{
    flex-direction: row;
    justify-content: end;
    gap: 44px;
  }
  .footer-img{
    left: 20%;
    top: -50%;
  }
}