.footer{
  background: #b50104;
  border-top: 20px solid #fff;
}
.footer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 68px;
  padding-bottom: 18px;
}
.footer-img{
position: absolute;
z-index: 2;
top: -16px;
left: 50%;
transform: translateX(-48%);
}
.footer-navigation{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  font-family: 'Abhaya Libre', sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: #fff;
    margin-bottom: 7px;
}
.footer-text{
  font-family: "Afacad", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: right;
    color: #fff;
}