.header {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 100%;
  height: 70px;
background: #b50104;
}

.header-container {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}


.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
background-color: inherit;
  margin-left: auto;
}

.navigation-list {
  display: none;
}

/* Modal */
.modal {
  display: none;
background: #b50104;
  padding: 100px 24px;
  width: 100%;
  height: auto;
  z-index: 1000;
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0.3s ease;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: start;
}


.menu-list-item {
font-family: 'Abhaya Libre', sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: #fff;
}



@media screen and (min-width: 1440px) {
  .header {
    height: 104px;
    border-bottom: 6px #fff solid;
  }

  .header-container {
    padding: 35px 140px;
    display: flex;

    position: relative;

  }

  .header-img {
    position: absolute;
    display: block;
    margin-right: 60px;
    top: 10px;
  }

  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    justify-content: center;
    gap: 44px;
    margin-left: 300px;
  }


  .navigation-item {
    display: flex;
    justify-content: center;
    align-items: center;
font-family: 'Abhaya Libre', sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: #fff;
  }


}